@import './_normalize.scss';
@import './milligram/_milligram.sass';
@import './_variables.scss';
@import './_media-queries.scss';

@import './_navigation.scss';
@import './_post-list-item.scss';
@import './_prism.scss';

:root {
  font-size: 1.25vh;

  @media (max-height: 920px) {
    font-size: 10px;
  }

  @media (min-height: 1828px) {
    font-size: 32px;
  }
}

body {
  padding: 2vh 3vw;
}

.container {
  max-width: 1200px;
}

.title {
  margin-bottom: 1rem;

  a {
    color: inherit;
  }
}

.subtitle {
  display: inline-block;
  font-size: 1.6rem;
  letter-spacing: normal;
  margin-left: 32px;

  @include media-query(sm-down) {
    display: block;
    margin-top: 0.8rem;
  }
}

.nav {
  margin-bottom: 2rem;
}

.nav-item {
  display: inline-block;
  margin-right: 1.5rem;
}
